@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# CSS Variables
# Typography
# Navigation
# Links, Buttons and Badges
# Statistics Panel
# Chart Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# CSS Variables
--------------------------------------------------------------*/
:root {
    --lb-colour: #4EABDE; /* A light blue */
    --charcoal-colour: #4D7488; /* A dark grey/charcoal colour */
    --lg-colour: #DEE6E9; /* A light grey */
    --md-fw: 500; /* A medium font-weight */
    --emp-fw: 600; /* A heavier (emphasised) font-weight */
    --round: 100px; /* Border-radius result */
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body, h1, h2, h3, h4, h5, p, a, label, small, input, ul>li {
    font-family: Montserrat, sans-serif;
}

body {
    color: var(--charcoal-colour);
}

h2 {
    font-size: 18pt;
    line-height: 28pt;
    color: var(--charcoal-colour);
    margin: 0 0 20px 0;
}

h3 {
    color: var(--lb-colour);
    font-size: 18pt;
    line-height: 26pt;
    font-weight: var(--md-fw);
    margin: 15px 0;
}

h4 {
    color: var(--lb-colour);
    font-size: 14pt;
    font-weight: var(--md-fw);
    margin: 10px 0 10px 0;
    line-height: 22pt;
}

h5 {
    color: var(--lb-colour);
    font-size: 12pt;
    font-weight: 700;
    line-height: 20pt;
    margin: 10px 0 10px 0;
}

p, ul > li {
    color: #688796;
    font-size: 11pt;
    font-weight: var(--md-fw);
    line-height: 20pt;
}

p {
    margin-bottom: 15px;
}

a {
    color: var(--lb-colour);
    font-weight: var(--md-fw);
}

a:hover {
    color:var(--charcoal-colour);
    text-decoration: none;
}

small {
    opacity: 0.7;
    font-weight: var(--md-fw);
    font-size: 12px;
    color: var(--charcoal-colour);
    line-height: 20px;
}

.text-muted {
    color: #BBCAD2 !important;
    font-weight: var(--md-fw) !important;
}

.text-muted-1 {
    color: #8CA5B3 !important;
    font-weight: var(--md-fw) !important;
}

.font-control {
    font-size: 9pt;
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

.btn-pgastats {
    color: var(--charcoal-colour);
    font-weight: var(--emp-fw);
    background: #F2FBFF;
    border: 2px solid #CEE2EC;
    border-radius: var(--round);
    text-transform: uppercase;
    padding: auto 10px;
    font-size: 12px;
    margin: 0;
    height: 35px;
}

.btn-pgastats:hover{
    /*box-shadow: 0 2px 5px 0 #B6CFDB;*/
    box-shadow: 0 2px 5px 0 #D7E0E5;
}

.btn-pgastats-small-modal {
    color: var(--charcoal-colour);
    font-weight: var(--emp-fw);
    background: #E0EFF7;
    border: 3px solid #CEE2EC;
    height: 30px;
    border-radius: 28px;
    font-size: 12px;
    max-width: 75px;
    min-width: 75px;
    margin: 0;
    padding: 0 10px;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.navbar-msII .navbar-nav .nav-link {
    color: var(--charcoal-colour);
    font-size: 11pt;
    font-weight: var(--emp-fw);
    text-transform: uppercase;
    padding: 15px 0;
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-msII .navbar-nav .nav-link:hover {
    color: var(--lb-colour);
}

.navbar-msII .show>.nav-link {
    color: #E74850 !important;
}

.navbar-msII .dropdown-item {
    font-weight: var(--md-fw);
    color: var(--charcoal-colour);
}

.navbar-msII .dropdown-item:hover {
    color: var(--lb-colour);
}

.header-logo {
    max-height: 150px;
}

.page-header {
    border-top: 3px var(--lb-colour) solid;
}

.nav-item{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 12px;
    font-weight: var(--emp-fw);
    text-transform: uppercase;
}

.nav-item.active{
    border-color: #D7E0E5;
    border-bottom: none;
    color: var(--charcoal-colour);
}

.nav-item:hover{
    color: var(--charcoal-colour);
}

.my-name-badge .author-badge {
    min-width: 150px;
    max-width: 250px;
    width: auto;
    height: 55px;
    background: #F4F8FA;
    border: 1px solid #D7E0E5;
    border-radius: var(--round);
    text-align: left;
    overflow: hidden;
    position: relative;
    padding-left: 65px;
}

.my-name-badge .my-photo {
    height: 55px;
    width: 55px;
    border-radius: var(--round);
    background-color: rgb(135, 135, 135);
    overflow: hidden;
    float: left;
    position: absolute;
    z-index: 100;
}

.my-photo img {
    width: 100%;
    height: auto;
}

.my-name-badge:hover  {
    border-radius: var(--round);
    cursor: pointer;
    box-shadow: 0 2px 5px 0 #D7E0E5;
}

.my-name-badge .author-badge .author-name {
    display: inline-block;
    width: auto;
    padding: 10px 0;
}

.my-name-badge .author-badge .author-name .the-author {
    font-weight: var(--emp-fw);
    font-size: 12px;
    width: auto;
    line-height: 14px;
    padding-right: 15px;
    margin-bottom: 0;
}

.my-name-badge .author-badge .author-name .name {
    font-size: 18px;
    color: var(--lb-colour);
    width: auto;
    padding-right: 15px;
    line-height: 20px;
    margin-bottom: 0;
    text-transform: none !important;
}

/*--------------------------------------------------------------
# Statistics Panel
--------------------------------------------------------------*/
.stats-content {
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid var(--lg-colour);
    border-radius: 10px;
}

.stats-img {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--lg-colour);
    background-color: #FFFFFF;
}

.stats-img.thumb > img {
    width: 100%;
    max-height: 170px;
}

.panel {
    background: #F6F8FA;
    border: 1px solid var(--lg-colour);
    border-radius: 10px;
}

.panel-wrapper {
    padding-bottom: 10px;
}

.panel-stat-text {
    color: #688796;
    font-size: 11pt;
    font-weight: var(--md-fw);
    line-height: 20pt;
}

.year-sel-label {
    font-size: 18pt;
    line-height: 26pt;
    font-weight: var(--md-fw);
    margin: 15px 0;
    color: var(--charcoal-colour);
}

/*--------------------------------------------------------------
# Statistics Panel
--------------------------------------------------------------*/
.chart-section {
    width: 100%;
}

h5.what-heading {
    color: var(--charcoal-colour);
    margin: 5px 0 3px 0;
}
